<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<title>Main</title>

	</head>
	<body>
		<h1>Main Page for Data Display</h1>
	
		<h3 id="value1">{{value}}</h3>

		<!-- Include jQuery, Chart.js and local JavaScript chart file -->
    		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    		<script src="/static/can_chart.js"></script>
		<script src="../can_logger.py"></script>		
		
			
	</body>
</html>

