<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="containter">
        <h1 class="logo">Sensor Inputs</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="/rideHeight">Ride Height</a></li>
            <li><a href="/throttle">Throttle</a></li>
            <li><a href="/steer">Steering</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      <div class="col">
        <div class="row">
		<canvas id="ride1"></canvas>
        </div>
	<div class="row">
		<canvas id="ride2"></canvas>
	</div>
	<div class="row">
		<canvas id="ride3"></canvas>
	</div>
	<div class="row">
		<canvas id="ride4"></canvas>
	</div>
    </div>
    </div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="../scripts/charts.js"></script>
</body>
</html>
